
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Guía de juego | Space Engineers</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <!-- esto pertenece al menu principar del sitio web -->
        <nav>
            <%- include('partials/navbar') %>
        </nav>
        
        <!-- fin de las lineas que conforman el menu principal -->
        <!------------------------------------------------------->
        <!-- aqui comienza el contenido de la pagina Guia de Supervivencia -->
        <div class="contenedor">
            <h1>Guia de Supervivencia</h1>
            <p>
                Bienvenido a la <i>Guia de Supervivencia</i>, aquí podrás encontrar una pequeña guía de supervivencia para que puedas entender una de las mecánicas más importantes del videojuego en su modo Supervivencia, revisaremos los aspectos más básicos y profundos de esta mecánica en la siguiente lista. </p>
            <ol>
                <li><h2>primeros pasos</h2>
                    <p>
                        Cuando iniciamos una partida, por lo general el juego nos desplegara en una cápsula la cual cuenta con todas las necesidades básicas, pero muy limitadas para garantizar nuestra supervivencia, lo más recomendable para estas primeras horas de juego son reutilizar esta cápsula para ir mejorándola con base en la progresión con la que cuenta el juego, en esta progresión se irán desbloqueando objetos a medida que vayamos obteniendo los materiales y construyendo los diversos objetos, herramientas y materiales durante nuestra estadía en este juego, y para desbloquear esta barra de progresión podemos utilizar nuestra herramienta "amoladora" para reutilizar los bloques de nuestra cápsula, manteniendo solo el esqueleto de esta para poder volviendo a reconstruirla con los mismos materiales obtenidos, e de recalcar que al reutilizar los materiales, estos serán retornados al inventario del jugador en totalidad.
                        <img src="Inventario.jpg" alt="Imagen de la barra de progresion" class="Imagen-recomendaciones">
                    </p>
                </li>
                <li><h2>El oxigeno</h2>
                    <p>
                        Una de las mecánicas más importantes del modo supervivencia es la manera de generar oxígeno, en este juego el jugador cuenta de un tanque con cierta capacidad para transportar oxígeno, y este dura bastante poco cuando estás en planetas sin atmosfera, es por ello que es indispensable tener los materiales para construir un “Oxigenador”, este bloque requiere de dos materiales para su funcionamiento, los cuales son la energía y el hielo, la energía la podemos obtener de diversos tipos de bloques, desde paneles solares hasta generadores nucleares, y para conseguir el hielo requeriremos buscar entre los planetas (por lo general en la superficie) depósitos de hielo, los cuales los podremos extraer con herramientas como el “taladro de mano” o con una nave minera que cuente con un “taladro”
                        <img src="Oxigenador.jpg" alt="bloque oxigenador" class="Imagen-recomendaciones">
                    </p>
                </li>
                <li>Coming Soon
                    <p>
                        coming soon...
                    </p>
                </li>
            </ol>
        </div>
    </body>
</html>