<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Guía de juego | Space Engineers</title>
        <link rel="stylesheet" href="style.css"/>

    </head>
    <body>
        <!-- esto pertenece al menu principar del sitio web -->
        <nav>
            <%- include('partials/navbar') %>
        </nav>
        
        
        <!-- fin de las lineas que conforman el menu principal -->
        <!------------------------------------------------------->
        <!-- aqui comienza el contenido de la pagina principal -->
        <div class="contenedor">
            <h1>Recomendaciones para <i>Space Engineers</i></h1>
            <p>
                en esta sección revisaremos los aspectos más básicos sobre <i>Space Engineers</i> a la hora de entrar por primera vez al juego, con el objetivo de para garantizar que tu experiencia de juego sea la más amigable y reconfortante posible a través de las recomendaciones creadas en este apartado.</p>
            <ol>
                <li><h2>Opciones de juego.</h2>
                    <p>
                        Una vez que inicias el videojuego por primera vez este vendrá configurado por predeterminado, y si ya has jugado previamente este título y deseas ampliar tu experiencia de juego, puedes añadir modificaciones que pueden diversificar partida, pero para que el videojuego pueda leer esas configuraciones extras es necesario activar una opción específica que se encuentra dentro del menú “opciones” / “juego”, se nos desplegara en la pantalla el menú de "opciones de juego" en el apartado “general”, aquí buscaremos la opción "Modo experimental" y la activaremos haciendo clic en el recuadro ubicado a la derecha de este, ya con esta opción activada podremos incorporar modificaciones a nuestras partidas sin ningún problema.
                        <img src="opciones_juego.jpg" alt="Imagen del menu /opciones de juego\ " class="Imagen-recomendaciones"></p>
                </li>
                <li><h2>Opciones de partida</h2>
                    <p>
                        Cuando queremos iniciar una partida tenemos la opción de “inicio rápido” la cual nos inicia una partida predeterminada, y la opción “nueva partida” la cual nos desplegara un menú en el que podremos elegir entre una serie de distintos modos de juego disponibles hasta la fecha, aquí podremos seleccionar el “mapa” en el que queramos jugar, una vez tengamos en mapa elegido este habilitara dos opciones a elegir, “comenzar” o “personalizar” en la segunda opción podremos ajustar los parámetros de nuestra nueva partida, permitiéndonos customizar nuestra experiencia de juego a nuestro placer, permitiéndonos incorporar modificaciones de terceros a la partida.
                        <img src="Seleccionar_inicio.jpg" alt="Seleccionar inicio de juego" class="Imagen-recomendaciones">
                        <img src="modificador_partida.jpg" alt="modificadores de partida" class="Imagen-recomendaciones">
                    </p>
                </li>
            </ol>
        
    </body>
</html>