<h1>Nueva Publicación</h1>
<form action="/foro/nueva" method="POST">
    <input type="text" name="titulo" placeholder="Título" required><br>
    <textarea name="contenido" placeholder="Contenido" required></textarea><br>
    <input type="text" name="etiquetas" placeholder="Ej: #survival,#crafting"><br>
    <button type="submit">Publicar</button>
</form>
