<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Registro</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <!-- Barra de navegaci칩n -->
  <nav>
    <%- include('partials/navbar') %>
  </nav>
  
  <div class="contenedor">
    <h2>Registrarse</h2>

    <!-- Formulario de registro -->
    <form action="/usuarios" method="POST" class="formulario-registro">
      <input type="text" name="nombre_usuario" placeholder="Nombre de usuario" required><br><br>
      <input type="email" name="correo" placeholder="Correo electr칩nico" required><br><br>
      <input type="password" name="contrase침a" placeholder="Contrase침a" required><br><br>
      <button type="submit" class="boton-redireccion">Registrarse</button>
    </form>
  </div>
</body>
</html>
